<%- include("../templates/encabezado.ejs")%>
<%- include("../templates/menu.ejs")%>

<div class="container mt-5">
    <form action="/pro/nuevoProducto" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo Producto</h1>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                <input class="form-control mb-3" type="text" name="precio" id="precio" placeholder="Precio">
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary" type="submit">Guardar Producto</button>
            </div>
            
            </div>
        </div>
    </form>
</div>

<%- include("../templates/pie")%>