<%- include("../templates/encabezado.ejs")%>
<%- include("../templates/menu.ejs")%>
<div class="container mt-5">
    <form action="/nuevousuario" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo Usuario</h1>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Password">
                <input class="form-control" type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary" type="submit">Guardar Usuario</button>
            </div>
            
            </div>
        </div>
    </form>
</div>

<%- include("../templates/pie")%>